*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
  margin: 0;
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px;
  width: 1158px; */
  padding-left: 16px;
  padding-right: 16px;
  width: 320px;
}

.section {
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* HEADER */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu {
  /* display: flex; */
  display: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  gap: 40px;
  align-items: center;
}

.header-menu-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 24px;
  padding-top: 24px;
  display: block;
}

.nav-item-first::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-item-second {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link {
  display: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-first {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--ocean);
}

.header-menu-item {
  color: var(--navy-blue);
}

.header-contacts {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.header-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* gap: 40px; */
  align-items: center;
}

.header-contacts-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  /* font-size: 16px;
  line-height: 1.5; */
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contacts-item {
  color: var(--slate);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--ocean);
}

.burger {
  display: flex;

  /* display: flex;
  width: 16.8px;
  height: 14.4px;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end; */
}

.icon-burger {
  fill: #2f2f37;
}

/* .burger-line {
  display: block;
  width: 100%;
  height: 2.4px;
  background-color: #2f2f37;
  border-radius: 2px;
}

.burger-line::before,
.burger-line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.4px;
  background-color: #2f2f37;
  border-radius: 2px;
  transition: transform 0.3s ease 0s;
  left: 0;
}

.burger-line::before {
  top: 0;
}

.burger-line::after {
  bottom: 0;
} */

/* -----------------------MOB MENU---------------------------- */

.mob-menu {
  position: fixed;
  inset: 0;
  background: var(--white);
  padding: 24px 24px 40px 16px;

  opacity: 0;
  transform: translateY(-12px);
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms ease, transform 250ms ease,
    visibility 0s linear 250ms;
  will-change: opacity, transform;
}

.mob-menu.open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms ease, transform 250ms ease, visibility 0s;
}
@media (prefers-reduced-motion: reduce) {
  .mob-menu {
    transition: none;
    transform: none;
  }
}

.mob-cls-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--cornflower);
}

.mob-icon-close {
}

.mob-nav {
  margin-top: 72px;
}

.mob-menu-list {
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  flex-direction: column;
  gap: 40px;
}

.mob-menu-item {
}

.mob-menu-link,
.mob-menu-link:link,
.mob-menu-link:visited {
  color: var(--navy-blue);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: var(--ocean);
}

.mob-item-first {
}

.mob-item-second {
}

.mob-contacts {
}

.mob-contacts-list {
  display: flex;
  gap: 24px;
  flex-direction: column;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.mob-contacts-item {
}

.mob-contacts-link {
  color: var(--slate);
}

.mob-color {
  color: var(--iris);
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-list__item {
  width: 40px;
  height: 40px;
}

.social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.social-list__icon {
  width: 24px;
  height: 24px;
  fill: var(--cloud, #f4f4fd);
  display: block;
}

/* .social-list:hover,
.social-list:focus {
  background-color: var(--green);
} */

/* HERO */

.hero-section {
  background: var(--navy-blue);
  text-align: center;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero_img_m.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_img_m@2x.jpg');
  }
}

.hero-title {
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  line-height: 111%;
  /* line-height: 107%; */
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  /* max-width: 496px; */
  max-width: 216px;
  margin: 0 auto;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
}

.hero-button {
  background: var(--iris);
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ADVANTAGES */

.advantages-section {
  /* padding-bottom: 120px;
  padding-top: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}
.advantages-item {
  /* max-width: 264px; */
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  /* (ширина контейнера - (колитчество гепов - на их размер))/ кол-во элементов */
}

.icon-advantage {
  width: 60px;
  height: 64px;
  fill: currentColor;
}
.advantages-item-title {
  /* line-height: 1.2; */
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
}

.advantages-item-text {
  font-weight: 500;
}

.advantage-photo {
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  padding: 0;
}

.advantage-photo svg {
  width: 64px;
  height: 64px;
  fill: currentColor;
}

/* TEAM */

.team-section {
  background: var(--cloud);
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-list {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  min-width: 264px;
  max-height: 428px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.team-title {
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-item-title {
  display: flex;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  text-align: center;
}

.team-item-text {
  text-align: center;
  padding-bottom: 8px;
}

.team-link {
  width: 40px;
  height: 40px;
  fill: transparent;
  stroke: var(--light-slate);
  margin-top: 16px;
}

.team-links-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

.team-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* PORTFOLIO */

.portfolio-section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 89px;
  padding-bottom: 103px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}

.portfolio-item {
  /* border: 1px solid var(--cornflower); */
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
  /* height: 420px; */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-item-info {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item-title {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

/* FOOTER */

.footer {
  background: var(--navy-blue, #1f2a6b);
  color: var(--white, #ffffff);
  padding: 96px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.footer-left {
  margin-right: 120px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 72px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 80px; */
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 72px;
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white, #ffffff);
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
}

.social-link-footer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--green); /* #31d0aa */
}

.social-icon-footer {
  width: 24px;
  height: 24px;
  fill: var(--cloud, #f4f4fd);
  display: block;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-list {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
}

.footer-logo-color {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  /* max-width: 264px; */
  max-width: 288px;
}

.footer-modal-text {
  font-weight: 500;
  color: var(--white, #ffffff);
  margin-bottom: 16px;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.icon-sub {
  fill: #ffffff;
  margin-left: 16px;
}

.footer-email {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-email::placeholder {
  color: #ffffff;
}

.footer-email:focus {
  outline: none;
}

.footer-form {
  display: flex;
  align-items: center;
  /* gap: 24px; */
  gap: 16px;
  flex-direction: column;
}

.footer-label {
  display: block;
}

.footer-inputs {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  right: 0px;
}

.footer-submit-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 16px; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-button:hover,
.footer-submit-button:focus {
  background-color: var(--ocean);
}

/* --------------------MODAL-------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  /* 
  width: 408px;
  min-height: 584px; */
  width: 288px;
  min-height: 623px;
  border-radius: 4px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.cls-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cls-btn:hover,
.cls-btn:focus {
  background-color: #404bbf;
  border: none;
}

.icon-modal {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-inputs {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.input-content {
  display: flex;
  align-items: center;
  position: relative;
}
.icon-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:focus + svg,
.modal-input:focus ~ svg,
.modal-input:focus + .icon-modal {
  fill: #4d5ae5;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-comment {
  margin-bottom: 16px;
}

.privacy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Modal privacy / custom checkbox */
.modal-privacy {
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}
.privacy-label {
  align-items: center;
  gap: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  cursor: pointer;
}
.checkbox-custom {
  width: 16px;
  height: 16px;
  min-width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.checkbox-custom .icon-check {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom:checked {
  fill: #f4f4fd;
}

/* checked state */
.privacy-box:checked + .privacy-label .checkbox-custom {
  background-color: var(--ocean);
  fill: #f4f4fd;
  border: none;
}
.privacy-box:checked + .privacy-label .checkbox-custom .icon-check {
  fill: var(--cloud);
}
/* keyboard focus */
.privacy-box:focus + .privacy-label .checkbox-custom {
  outline: 2px solid rgba(77, 90, 229, 0.24);
  outline-offset: 2px;
}
.privacy-link {
  color: var(--iris);
}

.modal-submit-button {
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #404bbf;
}

.cls-btn svg,
.modal-submit-button svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cls-btn:hover svg,
.cls-btn:focus svg,
.modal-submit-button:hover svg,
.modal-submit-button:focus svg {
  fill: #ffffff;
}

/* -------------TABLET------------- */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-logo {
    padding-bottom: 0;
    padding-top: 0;
  }
  .header-menu {
    display: flex;
  }

  .header-contacts-link {
    display: block;
  }

  .burger {
    display: none;
  }
  .burger-cls {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_img_t.jpg');
    @media screen and (min-resolution: 2x),
      (-webkit-min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero_img_t@2x.jpg');
    }
    .hero-title {
      max-width: 496px;
      font-size: 56px;
      margin-bottom: 36px;
      line-height: 107%;
    }
  }
  .advantages-section {
    padding-bottom: 111px;
  }
  .advantages-item {
    max-width: 356px;
  }
  .advantages-list {
    gap: 24px;
  }
  .advantages-item-title {
    text-align: left;
  }

  .team-list {
    gap: 64px 24px;
  }

  .portfolio-section {
    padding-top: 81px;
    padding-bottom: 96px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .footer-left {
    margin: 0;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-tablet-wrapper {
    display: flex;
    gap: 24px;
  }

  .footer .container {
    align-items: center;
  }

  .footer-social {
    margin-bottom: 0;
    justify-content: start;
  }
  .footer-text {
    margin-bottom: 72px;
    max-width: 264px;
  }

  .social-title {
    text-align: left;
  }

  .form-section {
    /* width: 100%; */
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-email {
    width: 264px;
  }
  .subscribe-text {
    text-align: left;
  }
}

/* -------------DESKTOP------------- */

@media screen and (min-width: 1158px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
  }

  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
  }

  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero_img.jpg');
  }

  @media screen and (min-resolution: 2dppx),
    (-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero_img_m@2x.jpg');
    }
  }

  @media (min-width: 768px) {
    .hero-section {
      padding-top: 112px;
      padding-bottom: 112px;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero_img_t.jpg');
    }
  }

  @media (min-width: 768px) and (min-resolution: 2dppx),
    (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero_img_t@2x.jpg');
    }
  }

  /* Desktop 1x */
  @media (min-width: 1158px) {
    .hero-section {
      padding-top: 188px;
      padding-bottom: 188px;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero_img.jpg');
    }
  }

  /* Desktop 2x */
  @media (min-width: 1158px) and (min-resolution: 2dppx),
    (min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero_img@2x.jpg');
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .header-contacts-list {
    flex-direction: row;
  }

  .advantages-section {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .advantage-photo {
    display: flex;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
    max-width: 264px;
  }
  .advantages-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .advantages-item-text {
    font-weight: 400;
  }

  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    gap: 24px;
  }
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .footer {
    padding: 100px 0;
  }
}
